-- ISC flow file for Lattice XP family 
-- Beta Version 1.1
-- This version has been partially validated on silicon with xp6c_xxf256 by
-- removing all looping
-- This version is based off non-looping ISC flow Beta version 2.0
-- This version is cross-verified with Lattice Non Volatile Flash Prog Spec_R2.1
-- Family LatticeXP
-- Device LFXP3C LFXP3E LFXP6C LFXP6E LFXP10C LFXP10C_ENG LFXP10E LFXP10E_ENG LFXP15C LFXP15E LFXP20C LFXP20E
-- Note "This file contains additional information that may cause a BSDL"
-- Note "parser to reject or error if your parser does not contain the"
-- Note "1532 library. BSDL files without ISC extensions are available"
-- Note "on the Lattice website at www.latticesemi.com."
-- Note " "
-- Note "NOTE: This ISC BSDL file uses a adoptive programming algorithm,"
-- Note "      which optimize programing time by utilizating looping"
-- Note "      defined in IEEE 1532-2002.  Programmer that does not"
-- Note "      support looping may not use this ISC flow."
-- Attribute INSTRUCTION_OPCODE
		"   ISC_ADDRESS_SHIFT		(00000001)," &
		"              IDCODE		(00010110," &
		"                    		 00011001," &
		"                    		 00011101)," &
		"             PRELOAD		(00011100)," &
		"          ISC_ENABLE		(00010101)," &
		"            ISC_READ		(01101010)," &
		"     LSC_READ_STATUS		(10110010)," &
		"  LSC_PROGRAM_STATUS		(01010010)," &
		"    ISC_PROGRAM_DONE		(00101111)," &
		"         ISC_DISABLE		(00011110)," &
		"ISC_PROGRAM_USERCODE		(00011010)," &
		"           ISC_ERASE		(00000011)," &
		"   LSC_RESET_ADDRESS		(00100001)," &
		"            ISC_NOOP		(00110000)," &
		"         ISC_PROGRAM		(01100111)," &
		"ISC_PROGRAM_SECURITY		(00001001)," &
		"              SAMPLE		(00011100)," &
		"               HIGHZ		(00011000)," &
		"         LSC_REFRESH		(00100011)," &
		"              BYPASS		(00011111," &
		"                    		 00111111," &
		"                    		 01111111," &
		"                    		 11111111)," &
		"      ISC_DATA_SHIFT		(00000010)," &
		"       ISC_DISCHARGE		(00010100)," &
		"            USERCODE		(00010111)," &
		"      ISC_ERASE_DONE		(00100100)," &
		"    LSC_PROG_INC_RTI		(01100111)," &
		"    LSC_READ_INC_RTI		(01101010)," &
		"              EXTEST		(00000000)," &
		"               CLAMP		(00100000)," &
		"RESERVE	(00110011," &  -- IPTESTA
			"		 00111000," &  -- IPB
			"		 00110010," &  -- IPA
			"		 00111001)," & -- IPTESTB
		"PRIVATE	(00110101, 01010101, 00010001, 00101100, " &
			"00000111, 00001010, 00001111, 00010000, " &
			"00000100, 01001010, 10000000, " &
			"01110101, 01000111)";
-- Attribute End
-- Attribute REGISTER_ACCESS
		"ISC_DEFAULT[1]		(ISC_ENABLE, " &
		"			 ISC_DISABLE, " &
		"			 ISC_PROGRAM_SECURITY, " &
		"			 ISC_ERASE, " &
		"			 ISC_DISCHARGE, " &
		"			 ISC_ERASE_DONE, " &
		"			 ISC_PROGRAM_DONE, " &
		"			 ISC_NOOP, " &	
		"			 LSC_READ_STATUS, " &	
		"			 LSC_PROGRAM_STATUS), " &
		"ISC_ADDRESS[ADDRESS_REGISTER_LENGTH]		(ISC_ADDRESS_SHIFT, " &
		"			 LSC_RESET_ADDRESS), " &
		"BYPASS		(HIGHZ, " &
		"			 BYPASS, " &
		"			 CLAMP, " &
		"			 LSC_REFRESH), " &
		"ISC_DATA[DEVICE_ROW_WIDTH]		(ISC_DATA_SHIFT), " &
		"BOUNDARY		(EXTEST, " &
		"			 SAMPLE, " &
		"			 PRELOAD), " &
		"DEVICE_ID		(IDCODE, " &
		"			 USERCODE, " &
		"			 ISC_PROGRAM_USERCODE), " &
		"ISC_PDATA[DEVICE_ROW_WIDTH]		(ISC_PROGRAM, " &
		"			 LSC_PROG_INC_RTI, " &
		"			 LSC_READ_INC_RTI, " &
		"			 ISC_READ)"; 
-- Attribute End
-- Variable ID_DATA
-- Variable BSCAN_REGISTER_LENGTH
-- Variable ADDRESS_REGISTER_LENGTH
-- Variable DEVICE_ROW_WIDTH
-- Variable BSCAN_REGISTER_VALUE
-- Start

	attribute ISC_Pin_Behavior of DEVICE_NAME : entity is "CLAMP";

	attribute ISC_Status of DEVICE_NAME : entity is "Not Implemented";

	attribute ISC_Blank_Usercode of DEVICE_NAME : entity is
		"11111111111111111111111111111111";

-----------------------------
--  ISC_Flow Descriptions    
-----------------------------
	attribute ISC_Flow of DEVICE_NAME : entity is

		"flow_verify(idcode) " &
			"Initialize " &
			"  (IDCODE wait TCK 1 32:ID_DATA )," &

		"flow_enable " &
			"Initialize " &
			"  (ISC_ENABLE  wait TCK 5, 10.0e-3)," &

-- This programming flow is tuned by JTAG Technology
-- to make it work on their tool
--		"flow_erase " &
--			"Initialize " &
--			"  (ISC_ERASE_DONE  wait TCK 5) " &
--			"  loop max 10000000 ( " &
--			"    (LSC_PROGRAM_STATUS wait TCK 1 1:1:OST) "&
--			"  ) " &				 	 -- end loop
--			"  (ISC_ERASE       wait TCK 5, 1.0e-3) " &
--			"  loop max 100000000 ( " &
--			"    (LSC_PROGRAM_STATUS wait TCK 1 1:1:OST) "&
--			"  ) , " &				 	 -- end loop

		"flow_erase " &
			"Initialize " &
			"  (ISC_ERASE       wait TCK 5, 1.0e-3) " &
            "  loop max 200 ( " &
            "    (ISC_ERASE wait 500.0e-3 1:1:OST) "&
			"  ) , " &				 	 -- end loop			
			
		"flow_verify(status) " &
			"Initialize " &
			"  (LSC_READ_STATUS  wait TCK 5, 1.0e-3 1:0*1), "&
			
		"flow_preload " &
			"Initialize " &
			"  (SAMPLE BSCAN_REGISTER_LENGTH:BSCAN_REGISTER_VALUE wait TCK 1 )," &

-- This programming flow is tuned by JTAG Technology
-- to make it work on their tool
--		"flow_program(array) " &
--			"Initialize " &
--			"  (LSC_RESET_ADDRESS  wait TCK 5, 1.0e-3 )" &
--			"Repeat ADDRESS_REGISTER_LENGTH " &
--			"  (ISC_PROGRAM DEVICE_ROW_WIDTH:? wait TCK 5)" &
--			"  loop max 250000 ( " &
--			"    (LSC_PROGRAM_STATUS wait TCK 1 1:1:OST) "&
--			"  ) , " &			
			
		"flow_program(array) " &
			"Initialize " &
			"  (LSC_RESET_ADDRESS  wait TCK 5, 1.0e-3 )" &
			"Repeat ADDRESS_REGISTER_LENGTH " &
			"  (LSC_PROG_INC_RTI DEVICE_ROW_WIDTH:? wait TCK 5, 1.0e-3)" &
			"  loop max 50 ( " &
			"    (LSC_PROG_INC_RTI wait 1.0e-3 1:1:OST) "&
			"  ) , " &

		"flow_verify(array) " &
			"Initialize " &
			"  (LSC_RESET_ADDRESS  wait TCK 5, 1.0e-3 )" &
			"Repeat ADDRESS_REGISTER_LENGTH " &
			"  (LSC_READ_INC_RTI wait TCK 5, 1.0e-3 DEVICE_ROW_WIDTH:?:CRC)," &

		"flow_read(array) " &
			"Initialize " &
			"  (LSC_RESET_ADDRESS  wait TCK 5, 1.0e-3 )" &
			"Repeat ADDRESS_REGISTER_LENGTH " &
			"  (LSC_READ_INC_RTI wait TCK 5, 1.0e-3 DEVICE_ROW_WIDTH:!:CRC)," &

-- This programming flow is tuned by JTAG Technology
-- to make it work on their tool			
--		"flow_program(usercode) " &
--			"Initialize " &
--			"  (ISC_PROGRAM_USERCODE 32:? wait TCK 5)" &
--			"  loop max 250000 ( " &
--			"    (LSC_PROGRAM_STATUS wait  1.0e-3 1:1:OST) "&
--			"  ) , " &
			
		"flow_program(usercode) " &
			"Initialize " &
			"  (ISC_PROGRAM_USERCODE 32:? wait TCK 5, 1.0e-3) " &
			"  (USERCODE wait TCK 5, 1.0e-3) " &
			"  (USERCODE wait TCK 5, 1.0e-3), " &

			
		"flow_verify(usercode) " &
			"Initialize " &
			"  (USERCODE wait TCK 5, 1.0e-3 32:? )," &

		"flow_read(usercode) " &
			"Initialize " &
			"  (USERCODE wait TCK 5, 1.0e-3 32:! )," &

		"flow_program_security " &
			"Initialize " &
			"  (ISC_PROGRAM_SECURITY wait TCK 5)" &
			"  loop max 500000 ( " &
			"    (LSC_PROGRAM_STATUS wait TCK 1 1:1:OST) "&
			"  ) , " &
			
		"flow_disable " &
			"Initialize " &
			"  (ISC_DISABLE  wait TCK 5, 200.0e-3) "&
			"  (BYPASS       wait TCK 5, 1.0e-3), "&

-- This programming flow is tuned by JTAG Technology
-- to make it work on their tool			
--		"flow_program_done " &
--			"Initialize " &
--			"  (ISC_PROGRAM_DONE wait TCK 5)" &
--			"  loop max 2000000 ( " &
--			"    (LSC_PROGRAM_STATUS wait TCK 1 1:1:OST) "&
--			"  )  ";

		"flow_program_done " &
			"Initialize " &
			"  (ISC_PROGRAM_DONE wait TCK 5, 50.0e-3)" ;
			
			
-----------------------------
--  ISC_Procdeure Descriptions    
-----------------------------
	attribute ISC_Procedure of DEVICE_NAME : entity is

		"proc_verify(idcode)     = (flow_verify(idcode)), " &
		"proc_verify(status)     = (flow_verify(status)), " &
		"proc_enable             = (flow_enable), " &
		"proc_disable            = (flow_disable), " &
		"proc_program(array)     = (flow_program(array)), " &
		"proc_verify(array)      = (flow_verify(array)), " &
		"proc_erase              = (flow_erase), " &
		"proc_read(array)        = (flow_read(array)), " &
		"proc_program(usercode)  = (flow_program(usercode)), " &
		"proc_verify(usercode)   = (flow_verify(usercode)), " &
		"proc_read(usercode)     = (flow_read(usercode)), " &
		"proc_program_done       = (flow_program_done), " &
		"proc_error_exit         = (flow_disable), " &
		"proc_preload            = (flow_preload), " &
		"proc_program(security)  = (flow_program_security)";

-----------------------------
--  ISC_Action Descriptions    
-----------------------------
	attribute ISC_Action of DEVICE_NAME : entity is

		"erase  proprietary        = ( proc_verify(idcode) recommended, " &
		"           proc_preload recommended, " &
		"           proc_enable, " &
		"           proc_erase, " &
		"           proc_verify(status), " &
		"           proc_disable), " &
		"program        = ( proc_verify(idcode) recommended, " &
		"           proc_preload recommended, " &
		"           proc_enable, " &
		"           proc_erase, " &
		"           proc_verify(status), " &
		"           proc_program(array), " &
		"           proc_verify(status), " &
		"           proc_program(usercode), " &
		"           proc_verify(status), " &
		"           proc_verify(array), " &
		"           proc_verify(usercode), " &
		"           proc_program(security) optional, " &
		"           proc_verify(status), " &
		"           proc_program_done, " &
		"           proc_verify(status), " &
		"           proc_disable), " &
		"verify         = ( proc_verify(idcode) recommended, " &
		"           proc_preload recommended, " &
		"           proc_enable, " &
		"           proc_verify(array), " &
		"           proc_verify(usercode), " &
		"           proc_disable), " &
		"read           = ( proc_verify(idcode) recommended, " &
		"           proc_preload recommended, " &
		"           proc_enable, " &
		"           proc_read(array) proprietary, " &
		"           proc_read(usercode), " &
		"           proc_disable), " &
		"verify_idcode  = ( proc_verify(idcode)), " &
		"secure         = ( proc_verify(idcode) recommended, " &
		"           proc_preload recommended, " &
		"           proc_enable, " &
		"           proc_program(security), " &
		"           proc_disable) ";
		
attribute DESIGN_WARNING of DEVICE_NAME : entity is
    "This ISC BSDL file uses a looping programming algorithm for optimized " &
    "programming times.  Do not use this ISC BSDL file if your driver does " &
    "not support looping." &
    "The SLEEPN pin is used to put the device in Sleep mode." &
    "It must be High throughout the entire BSCAN testing.";		