.Bulleted > span.WebWorks_Number
{
  text-indent: -16.56pt;
}

.Bulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletedIndented > span.WebWorks_Number
{
  text-indent: -16.56pt;
}

.BulletedIndented > span.WebWorks_Number > *
{
  text-indent: 0;
}

.BulletedIndented2 > span.WebWorks_Number
{
  text-indent: -16.560000000000002pt;
}

.BulletedIndented2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CellBulleted > span.WebWorks_Number
{
  text-indent: -14.4pt;
}

.CellBulleted > span.WebWorks_Number > *
{
  text-indent: 0;
}

.CellNumbered > span.WebWorks_Number
{
  text-indent: -14.4pt;
}

.CellNumbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered > span.WebWorks_Number
{
  text-indent: -16.56pt;
}

.Numbered > span.WebWorks_Number > *
{
  text-indent: 0;
}

.NumberedIndented > span.WebWorks_Number
{
  text-indent: -16.56pt;
}

.NumberedIndented > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Portal > span.WebWorks_Number
{
  text-indent: -16.56pt;
}

.Portal > span.WebWorks_Number > *
{
  text-indent: 0;
}

