p.Body, div.Body, caption.Body
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.BodyAfterHead, div.BodyAfterHead, caption.BodyAfterHead
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h1.BookTitle, div.BookTitle, caption.BookTitle
{
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Bulleted, caption.Bulleted
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.BulletedIndented, caption.BulletedIndented
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.BulletedIndented2, caption.BulletedIndented2
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 49.68pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.560000000000002pt;
  text-transform: none;
  vertical-align: baseline;
}

p.Callout, div.Callout, caption.Callout
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBody, caption.CellBody
{
  background-color: Transparent;
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBulleted, caption.CellBulleted
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 14.4pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -14.4pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellHeading, caption.CellHeading
{
  background-color: Transparent;
  color: Black;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0em;
  padding-bottom: 0em;
  text-align: center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellNumbered, caption.CellNumbered
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 14.4pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -14.4pt;
  text-transform: none;
  vertical-align: baseline;
}

div.ChapterNumber, caption.ChapterNumber
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.Code, div.Code, caption.Code
{
  color: #666666;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.CodeIndented, div.CodeIndented, caption.CodeIndented
{
  color: #666666;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.CodeIndented2, div.CodeIndented2, caption.CodeIndented2
{
  color: #666666;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

pre.CodeIndented3, div.CodeIndented3, caption.CodeIndented3
{
  color: #666666;
  font-family: 'Courier New', Courier, Monospace;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 49.68pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CoverBody, caption.CoverBody
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.CoverHeading3, div.CoverHeading3, caption.CoverHeading3
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.DropDown, div.DropDown, caption.DropDown
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #0088CC;
  cursor: pointer;
  cursor: hand;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.FigureFrame, caption.FigureFrame
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.FigureTitle, caption.FigureTitle
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Footnote, caption.Footnote
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

p.GlossDef, div.GlossDef, caption.GlossDef
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.GlossTerm, div.GlossTerm, caption.GlossTerm
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h2.Heading1, div.Heading1, caption.Heading1
{
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h3.Heading2, div.Heading2, caption.Heading2
{
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h4.Heading3, div.Heading3, caption.Heading3
{
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.Heading4, div.Heading4, caption.Heading4
{
  background-color: White;
  border-bottom-color: #666666;
  border-bottom-style: none;
  border-bottom-width: thin;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1.1em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.HeadingRunIn, div.HeadingRunIn, caption.HeadingRunIn
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Indented, caption.Indented
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.Indented2, div.Indented2, caption.Indented2
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.Indented3, div.Indented3, caption.Indented3
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 49.68pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NoteTitle, caption.NoteTitle
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NoteTitleIndented, caption.NoteTitleIndented
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered, caption.Numbered
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered1, caption.Numbered1
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.NumberedIndented, caption.NumberedIndented
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.0em;
  margin-left: 33.12pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Popup, caption.Popup
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.PopupAppend, caption.PopupAppend
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Portal, caption.Portal
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0.4em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

div.RelatedTopic, caption.RelatedTopic
{
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: -16.56pt;
  text-transform: none;
  vertical-align: baseline;
}

h5.StepIntro, div.StepIntro, caption.StepIntro
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

p.TableFootnote, div.TableFootnote, caption.TableFootnote
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  color: #666666;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0em;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TableTitle, caption.TableTitle
{
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: Black;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 20px;
  padding-bottom: 1px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

h1.Title, div.Title, caption.Title
{
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #333333;
  font-family: Titillium, Arial, Helvetica, sans-serif;
  font-size: 2.46em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 0px;
  padding-bottom: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

span.Callout, abbreviation.Callout, acronym.Callout, citation.Callout
{
  color: #000000;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

code.Code, abbreviation.Code, acronym.Code, citation.Code
{
  font-family: 'Courier New', Courier, Monospace;
}

code.CodeVariable, abbreviation.CodeVariable, acronym.CodeVariable, citation.CodeVariable
{
  font-family: 'Courier New', Courier, Monospace;
  font-style: italic;
}

em.Emphasis, abbreviation.Emphasis, acronym.Emphasis, citation.Emphasis
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-style: italic;
}

span.EquationVariables, abbreviation.EquationVariables, acronym.EquationVariables, citation.EquationVariables
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-style: italic;
}

span.GUI, abbreviation.GUI, acronym.GUI, citation.GUI
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

span.Popup, abbreviation.Popup, acronym.Popup, citation.Popup
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
}

span.red, abbreviation.red, acronym.red, citation.red
{
  color: #ff0000;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

sup.Superscript, abbreviation.Superscript, acronym.Superscript, citation.Superscript
{
  font-family: Opensans, Arial, Helvetica, sans-serif;
  vertical-align: super;
}

span.zBulleted, abbreviation.zBulleted, acronym.zBulleted, citation.zBulleted
{
  color: #ffbf0c;
  font-family: Opensans, Arial, Helvetica, sans-serif;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

table.Code
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.Format_B
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
}

table.Column_Borders
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.Format_A
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.UnstructMasterPageMaps
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.Figure
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: none;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: center;
}

table.Note
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

table.NoteIndented
{
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: #E5E5E5;
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: #E5E5E5;
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: #E5E5E5;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 20px;
  margin-left: 16.56pt;
  margin-right: 0pt;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}

img.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
}

