body
{
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

/* Default style for links */
/*                         */
a:link:active  { color: #0088CC; text-decoration: none;}
a:link         { color: #0088CC; text-decoration: none;}
a:visited      { color: #0088CC; text-decoration: none;}
a:link:hover, a:visited:hover   { text-decoration: underline;}

span.WebWorks_Number
{
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

div.WebWorks_Table
{
  border: 1px solid #000000;
}

div.WebWorks_Table_Row
{
  clear: left;
}

div.WebWorks_Table_Cell
{
  float: left;
}

div.WebWorks_Table_End
{
  clear: both;
  font-size: 1px;
}

/* TOC - doesn't seem to do anything, commenting out for now */
/*
div.WebWorks_TOC_Level1
{
  font-size: 24pt;
  font-family: Arial;
  margin-left: 12px;
}
*/

/* MiniTOC */
/*         */

div.WebWorks_MiniTOC
{
  margin: 0 20px 20px 20px;
  padding: 0;
}

div.WebWorks_MiniTOC_Heading
{
  background: #353535;
  border: 1px solid #A4A4A4;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

dl.WebWorks_MiniTOC_List
{
  margin: 0;
  padding: 0 0 0 16px;
}

div.WebWorks_MiniTOC > dl.WebWorks_MiniTOC_List
{
  padding-left: 0;
  background: white;
  border-color: #A4A4A4;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

dl.WebWorks_MiniTOC_List > dd
{
    margin: 0;
    padding: 0;
}

div.WebWorks_MiniTOC_Entry
{
  cursor: pointer;
  margin: 0 8px 0 8px;
  padding: 4px;
  border-color: #A4A4A4;
  border-style: solid;
  border-width: 1px 0 0 0;
}

div.WebWorks_MiniTOC > dl.WebWorks_MiniTOC_List > dd:first-child > div.WebWorks_MiniTOC_Entry
{
  border-width: 0;
}

div.WebWorks_MiniTOC_Entry:hover
{
  background-color: #E0E0E0;
}

a.WebWorks_MiniTOC_Link:link
{
  color: black;
  text-decoration: none;
}

a.WebWorks_MiniTOC_Link:visited
{
  color: #606060;
  text-decoration: none;
}

div.WebWorks_MiniTOC_Entry:hover > a.WebWorks_MiniTOC_Link:link
{
  color: black;
}

div.WebWorks_MiniTOC_Entry:hover > a.WebWorks_MiniTOC_Link:visited
{
  color: #606060;
}

/* Related Topics */
/*                */
dl.Related_Topics_List
{
  margin: 20px;
  padding: 0;
  background: white;
  border: 1px solid #A4A4A4;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #A4A4A4;
}

dt.Related_Topics_Title
{
  font-weight: bold;
  background: #353535;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  margin: 0;
  padding: 4px;
  color: white;
}

dd.Related_Topics_Entry
{
  border-color: #A4A4A4;
  border-style: solid;
  border-width: 0 0 1px 0;
  cursor: pointer;
  margin: 0 8px 0 8px;
  padding: 4px;
}

dl.Related_Topics_List > dd.Related_Topics_Entry:last-child
{
  border-width: 0;
}

dd.Related_Topics_Entry:hover
{
  background: #E0E0E0;
  color: black;
}

dd.Related_Topics_Entry a:link
{
  color: black;
  text-decoration: none;
}

dd.Related_Topics_Entry a:visited
{
  color: #606060;
  text-decoration: none;
}

dd.Related_Topics_Entry:hover a:link
{
  color: black;
  text-decoration: none;
}

dd.Related_Topics_Entry:hover a:visited
{
  color: #606060;
  text-decoration: none;
}

/* LinkedIn Share */
/*                */
span#social_linkedin {
  margin-right: 12pt;
  vertical-align: -7px;
}

/* Google +1 */
/*           */
span#social_google_plus1 {
  vertical-align: -7px;
}

.Search_Result_Highlight
{
    background-color: yellow;
}
