BLOCK RESETPATHS ;
//LFE5U
LOCATE COMP "sysclk" SITE "A7" ;
LOCATE COMP "jp1[0]" SITE "J1" ;
LOCATE COMP "jp1[1]" SITE "H2" ;
LOCATE COMP "jp1[2]" SITE "K3" ;
LOCATE COMP "jp1[3]" SITE "J3" ;
LOCATE COMP "jp1[4]" SITE "H3" ;
LOCATE COMP "jp1[5]" SITE "E1" ;
LOCATE COMP "jp1[6]" SITE "G2" ;
LOCATE COMP "jp1[7]" SITE "G4" ;
LOCATE COMP "jp1[8]" SITE "G3" ;
LOCATE COMP "jp1[9]" SITE "F2" ;
LOCATE COMP "jp1[10]" SITE "F1" ;
LOCATE COMP "jp1[11]" SITE "D1" ;
LOCATE COMP "jp1[12]" SITE "F3" ;
LOCATE COMP "jp1[13]" SITE "D3" ;
LOCATE COMP "jp1[14]" SITE "C2" ;
LOCATE COMP "jp1[15]" SITE "C3" ;
LOCATE COMP "jp1[16]" SITE "E3" ;
LOCATE COMP "jp1[17]" SITE "B2" ;
LOCATE COMP "jp1[18]" SITE "C1" ;
LOCATE COMP "jp1[19]" SITE "B1" ;
LOCATE COMP "jp2[0]" SITE "N13" ;
LOCATE COMP "jp2[1]" SITE "P13" ;
LOCATE COMP "jp2[2]" SITE "N14" ;
LOCATE COMP "jp2[3]" SITE "T15" ;
LOCATE COMP "jp2[4]" SITE "R16" ;
LOCATE COMP "jp2[5]" SITE "P14" ;
LOCATE COMP "jp2[6]" SITE "M13" ;
LOCATE COMP "jp2[7]" SITE "R15" ;
LOCATE COMP "jp2[8]" SITE "M16" ;
LOCATE COMP "jp2[9]" SITE "P16" ;
LOCATE COMP "jp2[10]" SITE "L16" ;
LOCATE COMP "jp2[11]" SITE "M14" ;
LOCATE COMP "jp2[12]" SITE "K15" ;
LOCATE COMP "jp2[13]" SITE "P15" ;
LOCATE COMP "jp2[14]" SITE "J15" ;
LOCATE COMP "jp2[15]" SITE "L14" ;
LOCATE COMP "jp2[16]" SITE "J14" ;
LOCATE COMP "jp2[17]" SITE "K14" ;
LOCATE COMP "jp2[18]" SITE "G16" ;
LOCATE COMP "jp2[19]" SITE "H15" ;
USERCODE BIN "00000000000000000000000000000000" ; 
SYSCONFIG MASTER_SPI_PORT=ENABLE MCCLK_FREQ=62 CONFIG_MODE=JTAG INBUF=OFF BACKGROUND_RECONFIG=OFF DONE_EX=ON CONFIG_IOVOLTAGE=3.3 DONE_OD=ON WAKE_UP=4 COMPRESS_CONFIG=OFF ;
USE PRIMARY NET "sysclk_c" ;
