<?xml version="1.0" encoding="UTF-8"?>
<messageFile name="system" fid="999" alias="sys" vendor="Lattice Semiconductor Corporation" stamp="Date and Time">
  <description text="this message file contains common message for all tools"/>
  <owner text="ymc,edward" /> <!-- owner of this message file -->
  <messages>
    <!-- define error message -->
    <msg uid="0000" type="Error" text="Fatal Condition [$$s-$$i]\n$$s\n\t. For support, contact Lattice Semiconductor technical support\n\tat 1-800-LATTICE or 503-268-8001,\n\t or techsupport@latticesemi.com." />
    <msg uid="0001" type="Error" text="Error Condition [$$s-$$i]\n$$s." />
    <msg uid="0002" type="Error" text="System ran out of memory [$$s-$$i]." />
    <!-- define warning message -->
    <!-- define information message -->
    <!-- define status message -->
    <msg uid="0700" text="Copyright (c) 1991-1994 by NeoCAD Inc. All rights reserved.\nCopyright (c) 1995 AT&amp;T Corp. All rights reserved.\nCopyright (c) 1995-2001 Lucent Technologies Inc. All rights reserved.\nCopyright (c) 2001 Agere Systems. All rights reserved.\nCopyright (c) 2002-2012 Lattice Semiconductor Corporation. All rights reserved." />
    <msg uid="0701" text="Start: process [$$s]." />
    <msg uid="0702" text="Done: process [$$s] completed successfully." />
    <msg uid="0703" text="Process [$$s] finished with Error or Warning(s). Double click to view messages." />

    <!-- message definition testing-->
    <msg uid="1000" text="APP [$$s] finished successfully.\n\tDouble click to view report." />
    <msg uid="1001" text="APP [$$s] finished with [$$i] Error [$$i] Warning.\n\tDouble click to view messages." />
    <msg uid="1002" text="Enter function [$$s]." />
    <msg uid="1003" text="Leave function [$$s] with no error." />


    <!-- messages defined to handle ut_** -->
    <msg uid="9990" type="Error" text="$$s" />
    <msg uid="9991" type="Warning" level="2" text="$$s" />
    <msg uid="9992" type="Info" text="$$s" />
    <msg uid="9993" type="Status" text="$$s" />

    <msg uid="9994" type="Error" text="Error - $$s" />
    <msg uid="9995" type="Warning" level="2" text="Warning - $$s" />
    <msg uid="9996" type="Info" text="Info - $$s" />
    <msg uid="9997" type="Status" text="Error - $$s" />

    <msg uid="9999" type="Error" text="This is a testing message with one dynamic data $$s." >
       <help online="onlineID" web="webID" datasheet="datasheet" />
       <navigation>
          <!-- define navigation function that require first dynamic data and first navigation data as input -->
          <fun menu="fun1" cmd="command line 0 1" />
          <!-- define navigation function that require first dynamic data and second navigation data as input -->
          <fun menu="fun2" cmd="command line 0 2" />
       </navigation>
    </msg>

  </messages>
</messageFile>


